.btn-9rem {
	width: 9rem!important;
}
.btn-15rem {
	width: 15rem!important;
}
.spinner-border {
	margin-right: 5px;
	margin-left: 5px;
}

#toast-container {
	z-index: 999;
}

.alert {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}
.alert.fade-out {
	opacity: 0;
}
/* Custom checkbox group styling */
.bg-light {
	background-color: #f8f9fa!important;
}
.form-check {
	padding-left: 1.5em;
}
.form-check-input {
	margin-left: -1.5em;
}
.form-check-label {
	cursor: pointer;
}
.dropzone {
	transition: background-color 0.2s ease;
}
.file-preview img {
	object-fit: contain;
	width: 100%;
}
